<div class="sidebar">
  <ul>
    <li><a href="/client/dashboard">Dashboard</a></li>
    <li><a href="/client/performance">Chatbot Performance</a></li>
    <li><a href="/client/settings">Website Settings</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
