/* styles.css */

/* Set a global font-family */
body, html {
    font-family: 'Arial', sans-serif; /* Use the font you prefer, e.g., Arial, or you can use Google Fonts */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('/images/hh.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Global typography for all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; /* You can use a different font for headings */
    font-weight: bold;
    color: #333;
}

/* Global styling for paragraphs and text */
p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

/* Global link styling */
a {
    text-decoration: none;
    color: inherit; /* Makes sure links inherit the text color */
}



/* Example of more custom styling */
section {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #ff6f61;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  